name: CI
on: [workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
          os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
        - uses: actions/checkout@v3
        - name: Run a one-line script
          run: echo Hello, world!
        - name: Run a multi-line script
          run: |
            echo Add other actions to build,
            echo test, and deploy your project.
 
  build_2:
   runs-on: ubuntu-latest
   needs: [build]
   steps:
      - uses: actions/checkout@v3
      - name: Run a two-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

  test:
    needs: [build, build_2]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Running testing script
        run: |
          echo TESTING...
          throw "test failed"
 
  publish:
    needs: [build, build_2]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Running testing script
        run: | 
          echo PUBLISHING...


